# dependencies
node_modules/

# build
dist/
build/
coverage/

# prisma
prisma/migrations/

# uploads
uploads/

# env
.env

# npm
npm-debug.log*

# Logs
*.log
logs/

# IDE
.vscode/
.idea/
*.swp
*.swo

# API docs
docs/api/

# Config files
package-lock.json
yarn.lock
pnpm-lock.yaml